/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding-inline: 100px;
}
@media (max-width: 960px) {
  .container {
    padding-inline: 20px;
  }
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 12px 35px;
  color: #fff;
  border-radius: 3px;
  border: unset;
  margin: unset;
}
.button.button-primary {
  background-color: purple;
}
.button.button-secondary {
  background-color: #51414F;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

